<html>
  <%- include("./partials/head.ejs") %>
  <body>
      <%- include("./partials/header.ejs",{pageTitle: "Welcome to Budgtr"}) %>
      <a href="/budgets">View my transactions</a>
  </body>

</html>